<!-- <ul class="breadcrumbs" *ngIf="isLoaded">
    <li><a [routerLink]="['/teacher/subject']">Предмети</a></li>
    <li *ngIf="isNew; else edit">Додати предмет</li>
    <ng-template #edit>
      <li><a [routerLink]="['/teacher/subject/', subject._id]">{{subject.title}}</a></li>
      <li>Редагувати предмет</li>
    </ng-template>
</ul> -->
  
  <p class="noData" *ngIf="hasError">
      Невірний формат запиту<br/>
      <span>поверніться до списку та повторіть спробу</span>
  </p>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card" [hidden]="hasError">
    <div class="card-content">
      <h5 class="center">{{isNew? 'Додати' : 'Редагувати'}} предмет</h5>
      <span>
        <button
          *ngIf="!isNew"
          class="btn btn-small red right btn-delete"
          (click)="delete()"
          type="button"
        >
          <i class="material-icons">delete</i>
        </button>
      </span>
    <br>
      <div class="input-field col s12">
        <input 
          id="title"
          type="text" 
          formControlName="title"  
          [ngClass]="{'invalid': form.get('title').invalid && form.get('title').touched }"       
        >
        <label for="title">Назва предмету</label>
        <span class="helper-text red-text"
        *ngIf="form.get('title').invalid && form.get('title').touched"
        >
          <span *ngIf="form.get('title').errors['required']">Поле не може бути пустим</span>
        </span>
      </div>
    </div>
    <div class="card-action">
      <button 
        class="btn"
        type="submit"
        [disabled]="form.invalid || form.disabled || !form.dirty"
      >{{isNew? 'Зберегти':'Редагувати'}}</button>
  
     <a
        *ngIf="isLoaded"
        [routerLink]="isNew? ['/teacher/subject'] : ['/teacher/subject', subject._id]"
        class="btn-flat"
      >Відмінити 
    </a>
    </div>
  </form>    
  